%h1 Awesome Print Online

= form_tag '/texts' do
  .text-before
    %textarea{ name: :text }= @text
  .submit
    = submit_tag
    = link_to 'Copy to clipboard', 'javascript:void(0);', id: 'copy-button'
  .text-after
    - if @text.present?
      -# TODO Maybe dangerous??
      = eval(@text).ai(html: true, color: { method: :green, string: :red, time: :cyanish, fixnum: :cyan, float: :cyan })
      %textarea#text-to-copy.hidden= eval(@text).ai(plain: true)
